Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-security.insecureAPI.strcpy,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-redundant-void-arg,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
UseColor: true
