Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-security.insecureAPI.strcpy,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-redundant-void-arg,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
UseColor: true
